@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --bg-0: hsl(0, 0%, 8%);
  --bg-1: hsl(0, 0%, 14%);
  --bg-2: hsl(0, 0%, 23%);
  --bg-3: hsl(0, 0%, 30%);
  --primary: hsl(0, 0%, 100%);
  --primary-fg: hsl(0, 0%, 10%);
  --danger: hsl(8, 99%, 74%);
  --danger-fg: hsl(0, 89%, 7%);
  --success: hsl(121, 100%, 80%);
  --success-fg: hsl(128, 95%, 8%);
  --warning: hsl(40, 100%, 50%);
  --warning-fg: hsl(48, 96%, 9%);
  --border: hsla(0, 0%, 35%, 0.3);
  --fg: hsl(0, 0%, 96%);
  --fg-secondary: hsl(0, 0%, 80%);
  --fg-muted: hsl(0, 0%, 65%);

  --radius: 4px;
  --radius-md: 4px;
  --radius-sm: 2px;
  --radius-lg: 6px;
  --radius-xl: 8px;

  --shadow: 0 16px 32px rgba(0, 0, 0, 0.6), 0 0 0 1px rgba(255, 255, 255, 0.06);
  --shadow-lg: 0 24px 48px rgba(0, 0, 0, 0.8), 0 0 0 1px rgba(255, 255, 255, 0.06);

  --text-xs: 12px;
  --text-sm: 13px;
  --text-md: 15px;
  --text-lg: 17px;
  --text-xl: 20px;

  --font-mono: "JetBrains Mono", monospace;

  --space-0: 0;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-0);
  color: var(--fg);
  user-select: none;
}

input {
  font-family: inherit;
}

strong {
  font-weight: 700;
  color: var(--fg);
}
