.btn {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  transition: all 0.15s ease;
}

.btn-primary {
  background: hsl(from var(--primary) h s l / 86%);
  border: none;
  color: var(--primary-fg);
}

.btn-primary:hover {
  background: var(--primary);
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: var(--fg);
}

.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.12);
}

.btn-danger {
  background: hsl(from var(--danger) h s l / 15%);
  border: 1px solid hsl(from var(--danger) h s l / 30%);
  color: var(--danger);
}

.btn-danger:hover {
  background: hsl(from var(--danger) h s l / 25%);
  border-color: hsl(from var(--danger) h s l / 50%);
}

.btn-outline {
  background: transparent;
  border: 1px solid var(--border);
  color: var(--fg);
}

.btn-outline:hover {
  background: rgba(255, 255, 255, 0.08);
}

.btn-plain {
  background: transparent;
  color: var(--fg-muted);
  height: auto !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: none;
  outline: none;
  width: fit-content;
}

.btn-plain:hover {
  color: var(--fg);
}

.btn-sm {
  height: 28px;
  padding: 0 10px;
  font-size: 12px;
  border-radius: var(--radius-sm);
}

.btn-md {
  height: 32px;
  padding: 0 12px;
  font-size: 14px;
  border-radius: var(--radius);
}

.btn-lg {
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: var(--radius);
}

.btn-xl {
  height: 48px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 0;
  border-radius: var(--radius-lg);
}
