.input {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  background: var(--bg-1);
  border: none;
  border-radius: var(--radius);
  color: var(--fg);
  font-size: var(--text-md);
  font-weight: 500;
  outline: none;
  transition: all 0.15s ease;
}

.input::placeholder {
  opacity: 0.5;
}

.input:focus,
.input:active,
.input:focus-visible {
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px hsl(from var(--primary) h s l / 20%);
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input-sm {
  height: 28px;
  font-size: var(--text-sm);
  padding: 0 6px;
}

.input-md {
  height: 32px;
  font-size: var(--text-sm);
  padding: 0 8px;
}

.input-lg {
  height: 40px;
  font-size: var(--text-md);
  padding: 0 14px;
}

.input-xl {
  height: 48px;
  font-size: var(--text-lg);
  padding: 0 20px;
}
